#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}

:root {
  /* Breakpoints*/
  --bp-small: 320px;
  --bp-medium: 768px;
  --bp-large: 1024px;
  --bp-huge: 1400px;
  /*colors*/
  /*222222fd*/
  --bgDark: 34, 34, 34;
  /*1f1f1f*/
  --borderDark: 61, 61, 61;
  /*383838*/
  --memeArreaDark: 56, 56, 56;

  /*78e8ff*/
  --lightblue: 120, 232, 255;

}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100% !important;
  width: 100% !important;

}

html {
  background-color: rgba(var(--bgDark), 0.9);
  background-color: rgba(var(--bgDark), 1);
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Anton', sans-serif;
}

body {
  overflow: hidden;
}

.wrap {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}



.memeselector {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  overflow-y: hidden;

}

.memeselector::-webkit-scrollbar {
  display: none;
  overflow-x: scroll;
}


.memeselector {
  width: 100%;
  height: 10rem;
  background-color: rgba(var(--bgDark), 0.9);
  overflow-x: scroll;
}

.memeslider {
  height: 100%;
}

.memeslider>img {
  border-radius: 2rem;
  padding: 0.2rem;
}

.memeframe {
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.memeditor {
  width: 100%;
  aspect-ratio: 1 / 1;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  margin-right: -15px;
  margin-left: -12px;
  margin: 0 auto;

}


.memearrea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border: dashed 0.1rem rgba(var(--lightblue), 1);
  pointer-events: none;
  z-index: 1;
}
/*HEYYYYYYYY*/
.memeeditortools {
  display: flex;
  justify-content: center;
  position: relative;
  right: 0;
  width: 100%;
  height: 10rem;
  text-align: center;
  margin: 0 auto;

}

.rangesliders {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;

}

input[type=range] {
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: rgb(101, 144, 172);
  ;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 2rem;
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -0.8rem;
  width: 2rem;
  height: 2rem;
  background: #78e8ff;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:hover::-webkit-slider-thumb {
  background: rgb(171, 236, 245);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0cd0c9;
}

input[type=range]::-moz-range-track {
  background: #0bb8b2;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 2rem;
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background: #78e8ff;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 8rem;
  color: transparent;
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
}

input[type=range]::-ms-fill-lower {
  background: rgb(101, 144, 172);
  ;
  border: 0px;
  border: 0;
  border-radius: 4.8rem;
}

input[type=range]::-ms-fill-upper {
  background: rgb(101, 144, 172);
  ;
  border: 0px;
  border: 0;
  border-radius: 4.8rem;
}

input[type=range]::-ms-thumb {
  width: 2rem;
  height: 2rem;
  background: rgb(101, 144, 172);
  border: 0px;
  border: 0;
  border-radius: 5rem;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
  background: #0bb8b2;
}

input[type=range]:focus::-ms-fill-upper {
  background: #0cd0c9;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {

  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

ul {
  position: relative;
  list-style-type: none;
  padding-top: 0rem;
  width: 100%;
  height: 100%;
  text-align: center;
  pointer-events: none;


}

ul>li {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  list-style-type: none;
  cursor: pointer;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(5, 5, 5, 1) 65%, rgba(129, 255, 249, 0.5) 70%);
  /*radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(5,5,5,1) 93%, rgba(64,64,64,1) 80%, rgba(129,255,249,1) 90%);*/
  border-radius: 100%;
  border: 1px solid rgb(82, 82, 82);
  color: rgb(101, 144, 172);
  pointer-events: all;
}

li i {
  font-size: 1.5rem;
  padding-top: 1rem;
  /*  color: rgb(101, 144, 172);*/
}

li:hover {
  color: rgb(171, 236, 245);
}

.toolactive {
  color: rgb(173, 222, 255);
  transform: scale(1.2);
  transition: 100ms ease-in;
}

.inactivetool {
  color: rgb(101, 144, 172);
  transform: scale(0.8);
  transition: 150ms ease-out;
}

.fas {
  pointer-events: none;
}
.closebtn{
  position: absolute;
  right: 0;
  top: 1rem;
  margin-right: 1rem;
  text-align: center;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  list-style-type: none;
  cursor: pointer;
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(5, 5, 5, 1) 65%, rgba(129, 255, 249, 0.5) 70%);
  border-radius: 100%;
  border: 1px solid rgb(82, 82, 82);
  color: rgb(101, 144, 172);
  pointer-events: all;
}

.closebtn i {
  font-size: 1.5rem;
  padding-top: 0.4rem;
 margin: 0 auto;
}

.toolExtention {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  background-color:rgba(var(--bgDark), 1);
}

.toolExtentionShow {
  bottom: 0rem;
  transition: bottom 1s;
}

.toolExtentionHide {
  bottom: -15rem;
  transition: bottom 1s;
}

/*Tool extention color selector*/
.TEColor {
  width: 100%;
  height: 100%;
  background-color: rgba(var(--bgDark), 1);
}

.TEcolorSample {
  position: absolute;
  top: 5rem;
  right: 0;
  margin-right: 2rem;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  background-color: rgba(var(--bgDark), 1);
}

.toolExtention input[type=range] {
  position: relative;
  float: left;
  width: 65%;
  direction: rtl;
  margin-bottom: 1rem;
}

.toolExtention input[type=range]::-moz-range-track {
  width: 65%;
}

.toolExtention input[type=range]::-ms-track {
  width: 65%;
}

.toolExtention .opacity {
  direction: rtl;
}

.red::after {
  content: "Red";
  margin-right: 2rem;
  ;
  margin-left: 1rem;
  ;
  color: rgba(var(--lightblue), 1);

}

.green::after {
  content: "Green";
  margin-right: 1rem;
  margin-left: 1rem;
  color: rgba(var(--lightblue), 1);
}

.blue::after {
  content: "Blue";
  margin-right: 2rem;
  margin-left: 1rem;
  color: rgba(var(--lightblue), 1);
}

.opacity::after {
  content: "Alpha";
  margin-right: 1.5rem;
  margin-left: 1rem;
  color: rgba(var(--lightblue), 1);
}



@media (min-width: 768px) {
  .memeframe {
    width: 80%;
    aspect-ratio: 1 / 1;
  }

  .memeselector {
    width: 95vw;
    margin: 0 auto;
    border-radius: 2rem;
  }

  ul>li {
    width: 5.5rem;
    height: 5.5rem;
  }

  li i {
    font-size: 2rem;
    padding-top: 1.5rem;
  }
}

@media (min-width: 950px) {

  .memeframe {
    width: 65vh;
    aspect-ratio: 1 / 1;
  }

  ul>li {
    width: 6.5rem;
    height: 6.5rem;
  }

  li i {
    font-size: 2.2rem;
    padding-top: 2rem;
  }
  .toolExtention {
    width: 70%;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
  }

}


@media (min-width: 1200px) {
  .memeselector {
    width: 50%;
    margin: 0 auto;
    border-radius: 2rem;
  }

  .memeframe {
    width: 75vh;
    aspect-ratio: 1 / 1;
  }

  ul {
    list-style-type: none;
    margin-top: 4rem;
    width: 100%;
    height: 100%;
    text-align: center;
    pointer-events: none;

  }

  ul>li {
    width: 4.5rem;
    height: 4.5rem;
  }

  li i {
    font-size: 2rem;
    padding-top: 1.2rem;
  }
  .tools{
    max-width: 40vw;
  }
  .toolExtention {
    background-color: #b80b8d;
    max-width: 40vw;
  }
  .TEColor {
    width: 100%;
    height: 100%;
  }

}

/* @media (min-width: 576px) {}
/